$font_weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;
$font_styles: normal, italic;

$shades: "basic", "gray", "blue", "orange";
$modes: dark, none, light;
$opacities: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

$square_sizes: 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;
$square_radiuss: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100;

$btn_radiuss: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 500;